version: "3.7"
services:

  postgres:
    image: postgres:12
    container_name: postgres
    environment:
      POSTGRES_PASSWORD: postgres

  envoy:
    image: envoyproxy/envoy:v1.15-latest
    container_name: envoy
    volumes:
      - ./postgres.yaml:/etc/envoy/postgres.yaml
    expose:
      - "1999"
      - "8001"
    ports:
      - "1999:1999"
      - "8001:8001"
    command: "/usr/local/bin/envoy -c /etc/envoy/postgres.yaml -l trace"

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    volumes:
      - ./prometheus:/etc
    expose:
      - "9090"
    ports:
      - "9090:9090"
    command: "--config.file=/etc/config.yaml"

  grafana:
    image: grafana/grafana
    container_name: grafana
    volumes:
      - ./grafana:/etc/grafana
    expose:
      - "3000"
    ports:
      - "3000:3000"

  traffic:
    image: postgres:12
    container_name: traffic
    volumes:
      - ./scripts:/etc/scripts
    command: /etc/scripts/traffic.sh > /dev/null 2>&1
