global:
  scrape_interval:  15s
scrape_configs:
  - job_name: 'envoy_stats'
    scrape_interval: 5s
    metrics_path: /stats/prometheus
    static_configs:
      - targets: ['proxy:8001']
        labels:
          group: 'services'
